################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/proyecto100dias/.vs/proyecto100dias/FileContentIndex
